<h1>User info</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<% if @user.errors.any? %>
        <%= @user.errors.count %>error
        <% @user.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %>
        <% end %>

<%= form_for @user do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :profile_image %>
<%= f.attachment_field :profile_image %>

<%= f.label :introduction %>
<%= f.text_field :introduction %>

<%= f.submit %>



<% end %>