<!DOCTYPE html>
<html>
 <body>

<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
  
  <div class="container">
   <div class="row">
    <div class="col-xs-3" >
      <h2>User info</h2>
        <table class="table table-striped">
          <tr>
           <td><%= attachment_image_tag current_user, :profile_image, fallback:"no-image.png",size: "50x50" %></td>
          </tr>
          <tr>
         <th>name</th>
           <td>
           <!-- ここにユーザーネームを実装-->
           <%= current_user.name %>
           </td>
             </tr>
               <tr>
                 <th>introduction</th>
                   <td>
                   <!-- ここにプロフィール文を実装-->
                   <%=current_user.introduction %>
                   </td>
                </tr>
         </table>
         <%= link_to "", edit_user_path(current_user),class:"btn btn-light btn-lg btn-block glyphicon glyphicon-wrench" %>
    
          <%= form_for @post do |f| %>
           <h2>New book</h2>
            <%= f.label :title %>
             <%= f.text_field :title %>
              <%= f.label :body %>
             <%= f.text_area :body %>
            <%= f.submit %>
           <% end %>
         </div>
         <div class="col-xs-9">
          <table class="table table-striped">
           <thead>
            <tr>
             <th width="10%">image</th>
              <th width="40%">title</th>
               <th width="40%">opinion</th>
            </tr>
            </thead>
    <% @users.each do |user| %>
    <tbody>
     <tr>
      <td>
      
      		<%= attachment_image_tag user, :profile_image, fallback:"no-image.png" , size: "50x50" %>
    
      </td>
      <td><%= user.name %></td>
      <td><%= link_to "Show", user_path(user), class:"button is-warning is-light" %></td>
     </tr>
    </tbody>
     <% end %>
   </table>
 </body>
</html>