<h1>Editing Book</h1>



   <% if @book.errors.any? %>
   <%= @book.errors.count %>error
   <% @book.errors.full_messages.each do |message| %>
    <%= message %>
    <% end %>
    <% end %>


<%= form_for @book do |f| %>

<%= f.label :title %>
<%= f.text_field :title %>



<%= f.label :body %>
<%= f.text_field :body %>

<%= f.submit %>



<% end %>

<%= link_to "Back" , books_path(@books) %>
<%= link_to "Show", book_path(@book) %>