<!DOCTYPE html>
<html>
 <body>
  <div class="container">
   <div class="row">
    <div class="col-xs-3" >
      <h2>User Info</h2>
        <table class="table table-striped">
          <tr>
           <td><%= attachment_image_tag current_user, :profile_image, fallback:"no-image.png",size: "50x50" %></td>
          </tr>
          <tr>
         <th>name</th>
           <td>
           <!-- ここにユーザーネームを実装-->
           <%= current_user.name %>
           </td>
             </tr>
               <tr>
                 <th>introduction</th>
                   <td>
                   <!-- ここにプロフィール文を実装-->
                    <%= current_user.introduction %>
                   </td>
                </tr>
         </table>
         <%= link_to "", edit_user_path(current_user),class:"btn btn-light btn-lg btn-block glyphicon glyphicon-wrench" %>
        
    
          <%= form_for @post do |f| %>
           <h2>New Book</h2>
            <%= f.label :title %>
             <%= f.text_field :title %>
              <%= f.label :body %>
             <%= f.text_area :body %>
            <%= f.submit %>
           <% end %>
         </div>
         <div class="col-xs-9">
          <table class="table table-striped">
           <thead>
            <tr>
             <th width="10%">image</th>
              <th width="40%">title</th>
               <th width="40%">opinion</th>
               <th width="10%">edit</th>
            </tr>
            </thead>
        
            <tbody>
              <h2>Book detail</h2>
              <tr>
               <td> <%= attachment_image_tag  @book.user, :profile_image, fallback:"no-image.png",size: "50x50" %></td>
               <td><%= @book.title %></td>
               <td><%= @book.body %></td>
               <td><%= link_to "EDIT", edit_book_path(current_user) %>
                   <%= link_to "delete", book_path(@book), method: :delete %>
                   
               </td>
              </tr>
            </tbody>
      </table>
      </div>
    </div>
  </div>
 </body>
</html>

